# Default ignored files
/../../Spring2.3.1./.idea/shelf/
/../../Spring2.3.1./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Spring2.3.1./.idea/httpRequests/
# Datasource local storage ignored files
/../../Spring2.3.1./.idea/dataSources/
/../../Spring2.3.1./.idea/dataSources.local.xml
